*{
    box-sizing: border-box;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}
html,body{
    margin:0;
    padding:0;
}
body{
    /* background-color:rgb(31,31,31) */
    background:hsl(0deg 0% 12%);
}
img.logo{
    height:40px;
    width:40px;
}
ul{
    list-style-type: none;
}
a{
    text-decoration:none;
    color:white;
}
header{
    position: sticky;
    top:0;
}

i{
    margin:auto 0;
}
/* .nav{
    background-color:rgb(40,40,40);
    max-height:max(6vh,40px);
}
.text-and-img {
    display: inline-flex;
    max-height: 1rem;
    font-size: 1rem;
    margin-right:auto;
}

.searchbar{
    display:inline-flex;
}
.searchbar .search-btn{
    background-image: url('./assets/svg/magnifying-glass-solid.svg');
    height: 35px;
    width: 80px;
    background-repeat: no-repeat;
    background-size:30% 30%;
    border:none;
}

.searchbar .search-field{
    height:35px;
    min-width:500px;
}

.side-menu-button{
    padding : 10px;
    margin:7px 10px;
    cursor:pointer;

}


.side-menu-button img{
    height:25px;
    width:25px;
    filter: invert(99%) sepia(5%) saturate(17%) hue-rotate(133deg) brightness(105%) contrast(100%);

} */

#app{
    display: flex;
    flex-direction: row;
}


.nav{
    position:relative;
    background-color: hsl(0,0%,16%);
    /* background-color: red; */
    height:60px;
}

.side-menu-button{
    position:absolute;
    height:25px;
    width:25px;
    top:18px;
    left:20px;
    cursor:pointer;
}
.side-menu-button img{
    height:25px;
    width:25px;
    filter: invert(99%) sepia(5%) saturate(17%) hue-rotate(133deg) brightness(105%) contrast(100%);

}
img.logo{
    height:40px;
    width:40px;
    position:absolute;
    left:60px;
    top:10px;
}

.searchbar{
    display: flex;
    position:absolute;
    left:350px;
    top:13px;
}


.searchbar .search-field{
    height:35px;
    min-width:500px;
    
    background-color: hsl(0,0%,7%);
    /* border:1px solid hsl(0,0%,16%); */
    padding:15px;
    border:none;
    color:white;
    border-right:none;
}


img.search-btn{
    height:25px;
    width:40px;
    filter: invert(99%) sepia(5%) saturate(17%) hue-rotate(133deg) brightness(105%) contrast(100%);
    align-self: center;
    margin-left:11px;
}

.search-btn-parent{
    padding:0 0.5rem;
    display: flex;
    height:35px;
    width:80px;
    background: hsl(0,0%,20%);
    border:1px solid hsl(0,0%,20%);
    border-left:none;
    text-align: center;
}
.login-div{
    display:flex;
    position: absolute;
    right:15px;
    height:40px;
    top:10px;
    color:hsl(0, 0%, 75%);
}
.login-text{
    margin : auto 10px;
}
.side-menu ul li a {
    color:hsl(0, 0%, 75%);
}

.side-menu{
    background: hsl(0,0%,16%);
    width:250px;
}

.body{
    background:green;
    flex-grow:10;
}
.hidden {
    display:none;
}

.side-menu .pages{
    padding:0;
}

.side-menu .pages li a {
    display:block;
    padding:10px;
    padding-left:20px;
}

.side-menu .pages li a:hover {
    opacity: 0.8;
    background-color: hsl(0,0%,18%);
}

.side-menu .pages li a i{
    padding-right:15px;
}